# idea
.idea

# osx
.DS_Store

# build
cmd/bistream/client/client
cmd/bistream/server/server

cmd/clientstream/client/client
cmd/clientstream/server/server

cmd/serverstream/client/client
cmd/serverstream/server/server

cmd/rest/client/client
cmd/rest/server/server

cmd/simple/client/client
cmd/simple/server/server